body {
  color: darkslategrey;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;
}
footer p {
  color: lightgrey;
  border-top: 1px solid lightslategrey;
  margin-top: 16px;
  padding: 16px 0px;
}
header {
  margin-top: 16px;
  margin-bottom: 48px;
}
header a {
  text-decoration: none;
  margin-right: 16px;
}
.portrait {
  width: 250px;
}
